
.comments{
	display: block;
	background-color: #d5d5d5;
	margin: 5% 8% 2% 8%;
    padding-top: 3.8%;
    padding-bottom:3.8%;
    font-size: 14px;
    font-family:'Roboto', sans-serif;
	padding-left: 4.2%;

}
textarea{
	width: 66%;
	height: 100px;
}
#name{
	color:#4d4d4d;
	font-weight: bold;
	font-size: 16px;
	padding-top: 1.8%;
	padding-bottom: 0.5%;

}
#comment{
	width: 66%;
	color: #212121;
	padding-bottom: 1.8%;
}
#number{
	font-weight: bold;
}
.cmts{
	width: 66%;
	border-bottom: thin solid grey;

}